body {
  font-family: 'Roboto', sans-serif;
  margin: 2em;
  color: #333;
  background-color: #f5f5f5;
}

h1 {
  color: #007f8b;
  text-align: center;
}

h2 {
  clear: both;
  margin-top: 2em;
  text-align: center;
}

.invisible {
  opacity: 0.2;
}

.videoView {
  position: relative;
  width: 100%;
  max-width: 600px;
  margin: 0 auto;
}

#webcam {
  width: 100%;
  height: auto;
  transform: rotateY(180deg);
  -webkit-transform: rotateY(180deg);
  -moz-transform: rotateY(180deg);
  background: #000;
}

.output_canvas {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
  transform: rotateY(180deg);
  -webkit-transform: rotateY(180deg);
  -moz-transform: rotateY(180deg);
}

.mdc-button {
  margin: 10px auto;
  display: block;
}